[submodule "ansible/roles/kubernetes"]
	path = ansible/roles/kubernetes
	url = git@github.com:owen2016/ansible-role-kubernetes.git
[submodule "ansible/roles/docker"]
	path = ansible/roles/docker
	url = git@github.com:owen2016/ansible-role-docker.git
