*/temp*
*/*/temp*
temp?
*.md
!LICENSE.md
.git

.sbt
.settings
.sbt-intellij
.scannerwork
.idea

*.log
project/project
project/target
target/resolution-cache
target/scala-2.11
target/scala-2.10
target/streams
target/native_libraries
target/universal/tmp
target/.history